/* Custom CSS for Documentation */
.userinput {
    font-weight:bold;
}
.replaceable {
    font-style: italic;
}

pre code.userinput {
    font-size: inherit !important;
}

section.normal p,
section.normal li {
    text-align: justify;
}

.book .book-body .page-wrapper .page-inner section.normal h1 {
    padding-bottom: .3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 4px solid #eee;
}

.book .book-body .page-wrapper .page-inner section.normal h2 {
    font-size: 1.75em;
    border-bottom: 3px solid #eee;
}

.book .book-body .page-wrapper .page-inner section.normal h3 {
    font-size: 1.5em;
    border-bottom: 2px solid #eee;
}

.book .book-body .page-wrapper .page-inner section.normal h4 {
    font-size: 1.1em;
}

.book-body:before {
  content: "OrientDB v. 2.1 has reached End of Life. This documentation is out of date. Please select version 2.2.x from the combo-box at the left of this page or go to http://orientdb.com/docs/last/.";
  font-size:1.75em;
  color: blue;
  padding-left:.3em;
  padding-right:.3em;
}


