/* Custom CSS for Documentation */
.userinput {
    font-weight:bold;
}
.replaceable {
    font-style: italic;
}

section.normal p,
section.normal li {
    text-align: justify;
}

.book .book-body .page-wrapper .page-inner section.normal h1 {
    padding-bottom: .3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 4px solid #eee;
}




